{% extends 'base.html' %}
{% block title %}Maintenance M22 - Machines{% endblock %}
{% block content %}





<!--active machines-->
<a href="{% url 'new_machine' %}"><button type="button" class="btn btn-secondary btn-lg btn-block">Add a new machine</button> </a>
<br>
<br>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Machines Status
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'machines' %}">All</a>
    <a class="dropdown-item" href="{% url 'active_machines' %}">Active</a>
    <a class="dropdown-item" href="{% url 'in_service_machines' %}">In Service</a>
  </div>

</div>

<br>
<br>

<div class="container">
  <h2>Active Machines</h2>
  <p>Here we can find all the active machines instances with their basic info</p>
  <table class="table table-success table-hover">
    <thead>
       <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>PRICE</th>
           <th>STATUS</th>

     </tr>
    </thead>
      <tbody>
           {% for machine in active_machines %}
            <tr>
                <td>{{machine.id}}</td>
                <td><a class="text-dark" href="http://localhost:8000/{{machine.id}}/machines/">{{machine.name}}</a></td>
                <td>{{machine.price}}$</td>
                <td>{{machine.machine_status}}</td>
                <td><a href="{% url 'delete_machine' pk=machine.id %}" class="btn btn-danger"> Remove </a> </td>

            </tr>

        {% endfor %}

    </tbody>
  </table>
</div>

<br>
<br>
<a href="{% url 'new_machine' %}"><button type="button" class="btn btn-secondary btn-lg btn-block">Add a new machine</button> </a>
{% endblock %}


