{% extends 'base.html' %}
{% block title %}Maintenance M22 - Machines{% endblock %}
{% block content %}
<a href="http://localhost:8000/providers/new/"><button type="button" class="btn btn-secondary btn-lg btn-block">Add a new provider</button> </a>
<br>
<br>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Provider Status
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'providers' %}">All</a>
    <a class="dropdown-item" href="{% url 'active_providers' %}">Active</a>
    <a class="dropdown-item" href="{% url 'inactive_providers' %}">Inactive</a>
  </div>

</div>

<br>
<br>

<div class="container">
  <h2>Active Providers</h2>
  <p>Here we can find all the providers instances with their basic info</p>
  <table class="table table-success table-hover">
    <thead>
       <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>TYPE</th>
        <th>STATUS</th>
     </tr>
    </thead>
      <tbody>
           {% for provider in active_providers %}
            <tr>
                <td>{{provider.id}}</td>
                <td><a class="text-dark" href="http://localhost:8000/{{provider.id}}/providers/">{{provider.name}}</a></td>
                <td>{{provider.provider_type}}</td>
                <td>{{provider.provider_status}}</td>
                <td><a href="{% url 'delete_provider' pk=provider.id %}" class="btn btn-danger"> Remove </a> </td>
            </tr>

        {% endfor %}

    </tbody>
  </table>
</div>
<br>
<br>
<a href="http://localhost:8000/providers/new/"><button type="button" class="btn btn-secondary btn-lg btn-block">Add a new provider</button> </a>

{% endblock %}