{% extends 'base.html' %}
{% block title %}Maintenance M22{% endblock %}
{% block content %}


<!--first label-->

<div class="container">
  <h2>Machines</h2>
  <p>Here we can find all the machines instances with their basic info</p>
  <table class="table table-dark table-hover">
    <thead>
       <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>PRICE</th>
           <th>STATUS</th>
     </tr>
    </thead>
      <tbody>
           {% for machine in machines %}
            <tr>
                <td>{{machine.id}}</td>
                <td>{{machine.name}}</td>
                <td>{{machine.price}}$</td>
                <td>{{machine.machine_status}}</td>
            </tr>

        {% endfor %}

    </tbody>
  </table>
</div>



<!--second label-->

<div class="container">
  <h2>Machines 0</h2>
  <p>Here we can find all the machines instances with their basic info</p>
  <table class="table table-dark table-hover">
    <thead>
       <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>PRICE</th>
           <th>STATUS</th>
     </tr>
    </thead>
      <tbody>
           {% for resource in providers %}
            <tr>
                <td>{{resource.id}}</td>
                <td>{{resource.name}}</td>
                <td>{{resource.provider_type}}$</td>
                <td>{{resource.provider_status}}</td>
            </tr>

        {% endfor %}

    </tbody>
  </table>
</div>



<!--3rd label-->

<div class="container">
  <h2>Machines 0</h2>
  <p>Here we can find all the machines instances with their basic info</p>
  <table class="table table-dark table-hover">
    <thead>
       <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>PROVIDER</th>
           <th>STATUS</th>
     </tr>
    </thead>
      <tbody>
           {% for resource in providers %}
            <tr>
                <td>{{resource.id}}</td>
                <td>{{resource.name}}</td>
                <td>{{resource.provider_type}}$</td>
                <td>{{resource.provider_status}}</td>
            </tr>

        {% endfor %}

    </tbody>
  </table>
</div>










<!--3rd label-->

<div class="container">
  <h2>Parts</h2>
  <p>Here we can find all the parts instances with their basic info</p>
  <table class="table table-dark table-hover">
    <thead>
       <tr>


               <th>ID</th>
        <th>NAME</th>
           <th>PRICE</th>
        <th>CATEGORY</th>
       <th>STOCK</th>
       <th>UNIT</th>
       <th>TARGET STOCK</th>
       <th>STATUS</th>

     <tr>
        <td>
             {% for part in parts %}
            <li>{{part.id}}
               </li>
        {% endfor %}
        </td>

          <td>
             {% for part in parts %}
            <li>{{part.name}}
               </li>
        {% endfor %}
        </td>

            <td>
             {% for part in parts %}
            <li>{{part.price}}$
               </li>
        {% endfor %}
        </td>

         <td>
             {% for part in parts %}
            <li>{{part.part_category}}
               </li>
        {% endfor %}
        </td>

            <td>
             {% for part in parts %}
            <li>{{part.stock}} pieces
               </li>
        {% endfor %}
        </td>

            <td>
             {% for part in parts %}
            <li>{{part.mu}}
               </li>
        {% endfor %}
        </td>

            <td>
             {% for part in parts %}
            <li>{{part.target_stock}} pieces
               </li>
        {% endfor %}
        </td>

            <td>
             {% for part in parts %}
            <li>{{part.provider_status}}
               </li>
        {% endfor %}
        </td>


      </tr>

    </tbody>
  </table>
</div>



{% endblock %}



