{% extends 'base.html' %}
{% block title %}Maintenance M22{% endblock %}
{% block content %}
<div class="">
  <div class="row w-50 h-100 mx-auto">

<!--  first icon start-->
  <div class="col-4 d-inline-flex px-3 py-3 ">
    <a class="d-flex flex-column text-dark text-center p-4 border rounded menu-link" href="{% url 'machines' %}">
     <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/942/942387.png"
       width="110" height="110">

    <span class="mt-2">
      Machines
    </span>
          </a>
  </div>
<!--  first icon end-->

<!--  second icon start-->
  <div class="col-4 d-inline-flex px-3 py-3 ">
    <a class="d-flex flex-column text-dark text-center p-4 border rounded menu-link" href="{% url 'providers' %}">
     <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/1560/1560002.png"
       width="110" height="110">

    <span class="mt-2">
      Providers
    </span>
          </a>
  </div>
<!--  second icon end-->

  <!--  3rd icon start-->
  <div class="col-4 d-inline-flex px-3 py-3 ">
    <a class="d-flex flex-column text-dark text-center p-4 border rounded menu-link" href="{% url 'parts' %}">
     <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/1643/1643516.png"
       width="110" height="110">

    <span class="mt-2">
      Parts
    </span>
    </a>
  </div>
<!--  3rd icon end-->

    <!--  4th icon start-->
  <div class="col-4 d-inline-flex px-3 py-3 ">
     <a class="d-flex flex-column text-dark text-center p-4 border rounded menu-link" href="{% url 'maintenances' %}">
     <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/2778/2778802.png"
       width="110" height="110">

    <span class="mt-2">
      Maintenance
    </span>
     </a>
  </div>
<!--  4th icon end-->

     <!--  5th icon start-->
  <div class="col-4 d-inline-flex px-3 py-3 ">
     <a class="d-flex flex-column text-dark text-center p-4 border rounded menu-link" href="http://localhost:8000/materials/">
     <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/5356/5356556.png"
       width="110" height="110">

    <span class="mt-2">
      Materials
    </span>
     </a>
  </div>
<!--  5th icon end-->

      <!--  6th icon start-->
  <div class="col-4 d-inline-flex px-3 py-3 ">
     <a class="d-flex flex-column text-dark text-center p-4 border rounded menu-link" href="{% url 'labors' %}">
     <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/7315/7315214.png"
       width="110" height="110">

    <span class="mt-2">
      Labors
    </span>
     </a>
  </div>
<!--  6th icon end-->
    </div>
</div>
{% endblock %}