{% extends 'base.html' %}
{% block title %}Maintenance M22 - Machines{% endblock %}
{% block content %}
<a href="{% url 'new_maintenance' %}"><button type="button" class="btn btn-secondary btn-lg btn-block">Add a new maintenance</button> </a>
<br>
<br>

  <h2>Maintenance</h2>
  <p>Here we can find all the maintenance instances with their basic info</p>
 <table class="table table-dark table-hover">
    <thead>
       <tr>
        <th>ID</th>
        <th>TYPE</th>
        <th>MACHINE</th>
        <th>STATUS</th>

     </tr>
    </thead>
      <tbody>
           {% for maintenance in maintenances %}
            <tr>
                <td>{{maintenance.id}}</td>
<!--                <td>{{maintenance.maintenance_type}}</td>-->
                <td><a class="text-white" href="http://localhost:8000/{{maintenance.id}}/maintenances/">{{maintenance.maintenance_type}}</a></td>
                <td>{{maintenance.machine.name}}</td>
                <td>{{maintenance.maintenance_status}}</td>
                <td><a href="{% url 'delete_maintenance' pk=maintenance.id %}" class="btn btn-danger"> Remove </a> </td>

            </tr>

        {% endfor %}

    </tbody>
  </table>
</div>


<br>
<br>
<a href="{% url 'new_maintenance' %}"><button type="button" class="btn btn-secondary btn-lg btn-block">Add a new maintenance</button> </a>

{% endblock %}


