{% extends 'base.html' %}
{% block title %}Maintenance M22 - Machines{% endblock %}
{% block content %}

<td><a href="{% url 'materials' %}" class="btn btn-dark"> Back to Materials </a> </td>
<br>
<br>


<div class="container">
    <div class="card p-3 mb-2" style="width: 28rem;">
        <div class="alert alert-primary p-4 border rounded" role="alert">
      <div class="card-header font-weight-bold text-center">
            <div class="text-dark">Used by the Maintenance: {{material_detail.maintenance.maintenance_type}} for {{material_detail.maintenance.machine.name}} {{material_detail.maintenance.machine.description}}</div>
      </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item p-3 mb-2 bg-dark text-white">maintenance: {{material_detail.maintenance.maintenance_type}}</li>
            <li class="list-group-item p-3 mb-2 bg-dark text-white">part used: {{material_detail.part.name}}</li>
            <li class="list-group-item p-3 mb-2 bg-dark text-white">quantity used: {{material_detail.qty}} {{material_detail.part.mu}}</li>
            <li class="list-group-item p-3 mb-2 bg-dark text-white">price: {{material_detail.material_price}} $</li>
            <li class="list-group-item p-3 mb-2 bg-dark text-white">responsible user: {{material_detail.user}}</li>
        </ul>
    </div>
</div>
</div>
<br>


  {% endblock %}


class Material(models.Model):
    maintenance = models.ForeignKey(Maintenance, on_delete=models.CASCADE)
    part = models.ForeignKey(Part, on_delete=models.CASCADE)
    qty = models.FloatField(default=0)
    created_on = models.DateField(auto_now_add=True)
    modified_on = models.DateField(auto_now=True)
    user = models.ForeignKey(User, on_delete=models.CASCADE)