{% extends 'base.html' %}
{% block title %}Maintenance M22 - Machines{% endblock %}
{% block content %}

<div class="container">
  <h2>Providers</h2>
  <p>Here we can find all the providers instances with their basic info</p>
  <table class="table table-dark table-hover">
    <thead>
       <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>TYPE</th>
           <th>STATUS</th>
     </tr>
    </thead>
      <tbody>
           {% for resource in providers %}
            <tr>
                <td>{{resource.id}}</td>
                <td>{{resource.name}}</td>
                <td>{{resource.provider_type}}$</td>
                <td>{{resource.provider_status}}</td>
            </tr>

        {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}